
<form #myForm="ngForm" (ngSubmit)="OnAddCallMe(myForm)">
        <div class="form-group" style="align-items: center">
          <label for="enterUserId">Enter User Id</label>
          <input ngModel type="text" type="text" class="form-control" id="">
        </div>
    
        <div class="form-group" style="align-items: center">
            <label for="enterAmount">Enter Amount</label>
            <input ngModel type="text" type="text" class="form-control" id="" >
          </div>
        <button type="submit" class="btn btn-success">Pay</button>
        
      </form>
      