<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                            <th>Payment History</th>
                        </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Enter User Id</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" name="enterUserId">
                        </td>
                    </tr>
                    <tr>
                        <input type="submit" class="btn btn-success" value="Show All Transcations">
                    </tr>
<br>                    <tr>
                            <input type="submit" class="btn btn-danger" value="Take Payment">
                        </tr>
                </tbody>
            </table>
        </div>
        
</body>
</html>