
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <a class="navbar-brand" href="#">Hello Librarian</a>
    <ul class="nav navbar-nav">
        <li class="active">
            <a routerLink="/editprofile">Edit Profile</a>
        </li>
        <li>
            <a routerLink="/changepassword">Change Password</a>
        </li>
        <li class="active">
            <a routerLink="/checkbookavailability">Check Book Availability </a>
        </li>
        <li>
            <a routerLink="/addnewbook">Add New Book</a>
        </li>
        <li class="active">
            <a routerLink="/addnewcopy">Add New Copy</a>
        </li>
        <li>
            <a routerLink="/returnbook">Return Book</a>
        </li>
        <li>
            <a routerLink="/issuebook">Issue Book</a>
        </li><li>
            <a routerLink="/listofissuedbook">List of Issued Book</a>
        </li><li>
            <a routerLink="/addnewmember">Add New Member</a>
        </li><li>
            <a routerLink="/takepayment">Take Payment</a>
        </li><li>
            <a routerLink="/paymenthistory">Payment History</a>
        </li>
        <li>
            <a routerLink="/returnbook">Return Book</a>
        </li>
        <li>
            <a routerLink="/listofallusers">List of All User</a>
        </li>
       <div>
           <table>
               <tr>
                   <td><input type="text" placeholder="Search Book by Name" ></td>
                   <td><input type="submit" value="Search" class="btn btn-success"></td>
               </tr>
           </table>
       </div>
            
        
    </ul>
</nav>

